@font-face {
  font-family: RubikPuddles;
  src: url(RubikPuddles-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(RobotoMono-VariableFont_wght.ttf);
}

body {
  background-color: #FDFBD4;
  color: #000000;
  padding: 8px;
  font-family: "RobotoMono", monospace;
  font-size: 16px;
}

h1 {
  font-family: "RubikPuddles", monospace;
  font-size: 120px;
  color: black;
  text-align: center;
}

.shadow-dance-text {
    color: magenta;
    animation: shadow-dance 8s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 cyan, 10px 10px 0 cyan;
    }
    50% {
        text-shadow: -5px -5px 0 yellow, -10px -10px 0 yellow;
    }
}

h2 {
  font-family: "RobotoMono", monospace;
  font-size: 32px;
  color: black;
}

h3 {
  font-family: "RobotoMono", monospace;
  font-size: 24px;
  color: black;
}

p {
  font-family: "RobotoMono", monospace;
  font-size: 24px;
  color: black;
  text-align: center;
}

.about-copy {
  text-align: left;
  font-size: 20px;
}

table {
  border: 3px solid;
  border-collapse: collapse;
}

th {
  border: 3px solid cyan;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  background-color: #FDFBD4;
  }

td {
  border: 3px solid cyan;
  padding: 4px;
  color: #000000;
  font-size: 16px;
  line-height: 2;
  background-color: #FDFBD4;
}

footer {
  font-size: 16px;
  text-align: center;
}

.accordion-item {
  margin-bottom: 10px;
  border: 2px solid black;
}

.accordion-header {
  background: #FDFBD4;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background: yellow;
}

.accordion-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.active {
  padding: 15px;
  max-height: none;
}

/* Responsive adjustments for mobile */
@media (max-width: 800px) {
    h1 {
    font-size: 56px;
}
    h2 {
    font-size: 32px;
}
    p {
    font-size: 20px;
}
.about-copy {
  text-align: left;
  font-size: 16px;
}
}